<p>Click on a book title to see author, average rating, and reviews.</p>
<% @books.each do |book| %>
<a href='/books/<%=book.slug%>'><%=book.title%></a>
<br>
<% end %>

<br>
<a href='/books/new'>Add A New Book</a>
