  <%= @book.title %> by <%= @book.author %>
  <br>
  <a href='/books/new/<%=@book.slug%>'>Add This Book to Your Shelf</a>
  <br>
  <a href='/books/<%=@book.slug/edit'>Edit Your Review of this Book</a>
