<!doctype html>
<html>
  <head>
    <title>Bibliofile</title>
    <link rel="stylesheet" href="css/layout.css">
  </head>
  <body>

    <div class="container">
      <h1>Bibliofile</h1>
      <%= yield %>
    </div>

  </body>
</html>
